:root {
  --blood: #9d0b00;
  --ooze: #450544;
  --goo: #85cb33;
  --darkness: #030303;
  --hope: #ecebe4;
}

/* @keyframes scare {
  0% {
  }
  100% {
    transform: scale(6) translateX(-7vw) translateY(5vw);
  }
} */
body {
  background-color: var(--darkness);
  margin: 0px;
  padding: 0px;
  font-family: "Shippori Mincho", serif;
  color: var(--hope);
  overscroll-behavior: none;
}

header {
  background-image: url("./SVG/header_mobile.svg");
  width: 100vw;
  height: 92px;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0px;
  z-index: 2;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  padding-left: 0.5rem;
}
/* .logo {
  animation: 1s scare reverse;
} */
.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.hero {
  width: 90vw;
}
a {
  text-decoration: none;
  color: var(--hope);
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--blood);
    transition: 1s;
  }
}
.below-hero {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100vw;
}
.monthly {
  width: 17.5rem;
  margin-left: 10vw;
}
.offer {
  width: 22rem;
  margin-right: 10vw;
}
.more-img {
  width: 18rem;
  margin-top: 10rem;
  margin-left: 5rem;
}
.upcoming-posters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.upcoming-posters > img {
  scroll-snap-align: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 9.5rem;
  margin-bottom: 5rem;
}
.email-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.email {
  height: 2rem;
  width: 18rem;
  font-size: x-large;
}
.submit {
  background-image: linear-gradient(
    to bottom,
    var(--blood) 50%,
    var(--goo) 50%
  );
  background-size: 200% 200%;
  background-position: bottom;
  border-radius: 2rem;
  width: 6rem;
  height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  transition: 1s;
  &:hover {
    cursor: pointer;
    background-position: top;
  }
}
.social-media-links {
  margin-top: 1rem;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
}
.footer-links > div > p:hover {
  cursor: pointer;
}
@keyframes spooky {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
.ghost {
  animation: 2s spooky infinite alternate;
}

@media screen and (max-width: 800px) {
  .below-hero {
    flex-direction: column;
    gap: 3rem;
  }
  .monthly-img {
    width: 13rem;
  }
  .offer-img {
    width: 13rem;
  }
  .offer {
    width: 13rem;
    align-self: flex-end;
  }
  .more-img {
    width: 13rem;
    margin-left: 1rem;
  }
  footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
  }
  .email-wrapper {
    max-width: 90vw;
  }
  .email {
    width: 10rem;
  }
  .footer-links {
    width: 90vw;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 3rem;
  }
} /* TODO: constrain svg-headers to resize and fit horizontally,
  add class to img tags or manipulate monthly- and offer-divs */
