.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "hero hero"
      "info1 info2"
      "pictures pictures"
      "footer footer";
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
.header { 
    grid-area: header; 
}
  
.hero { 
    grid-area: hero; 
}
  
.info1 { 
    grid-area: info1; 
}
  
.info2 { 
    grid-area: info2;
}
  
.pictures { 
    grid-area: pictures; 
}
  
.footer { 
    display: grid;
    grid-area: footer; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "newsletter"
      "info3";
}

.newsletter { 
    grid-area: newsletter; 
}
  
.info3 { 
    grid-area: info3; 
}
  