.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "hero hero"
      "info1 buy"
      "info1 time"
      "pictures pictures"
      "footer footer";
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
.buy { 
    grid-area: buy; 
}
  
.time { 
    grid-area: time; 
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "hero"
          "buy" 
          "info1"
          "pictures"
          "time"
          "footer";
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
      }
}
  