.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "header"
      "hero"
      "tickets" 
      "movieInfo"
      "moviePictures"
      "movieDates"
      "footer";
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
}

.header {
  grid-area: header;
}

.hero {
  grid-area: hero;
}

.tickets {
  grid-area: tickets;
  display: flex;
  justify-content: center;
}

.movieInfo {
  grid-area: movieInfo;
}

.moviePictures {
  grid-area: moviePictures;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "picture1 picture2 picture3 picture4 picture5";
  gap: 10px;
}

.movieDates {
  grid-area: movieDates;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "newsletter"
  "socials"
  "footerInfo";
}

/* TODO: grid for desktop */