body {
    background-color: var(--darkness);
    margin: 0px;
    padding: 0px;
    font-family: "Shippori Mincho", serif;
    color: var(--hope);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    padding-left: 0.5rem;
  }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.heroImage {
    width: 100vw;
    height: auto;
  }

.moviePictures {
    overflow: auto;
}

.picture1,
.picture2,
.picture3,
.picture4,
.picture5 {
    width: 100%px;
    height: auto;
}