body {
    background-color: var(--darkness);
    margin: 0px;
    padding: 0px;
    font-family: "Shippori Mincho", serif;
    color: var(--hope);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    padding-left: 0.5rem;
  }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.heroImage {
    width: 100vw;
    height: auto;
}

.tickets {
    padding: 20px;
}

button {
    cursor: pointer;
}

.redButton {
    background-color: var(--blood);
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 10px;
    align-items: center;
    display: inline-block;  
}

.ticketsButton {
    width: 95px;
    height: 35px;
}

.movieInfo {
    padding: 0 12px 0 12px;
}

.movieInfo h3, p {
    display: inline-block;
}

.moviePictures {
    overflow: auto;
}

.picture1,
.picture2,
.picture3,
.picture4,
.picture5 {
    width: 100%px;
    height: auto;
}

.theDeadlySpawn {
    padding-top: 20px;
}

.newsletterForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.input{
    height: 30px;
    width: 200px;
    margin: 0;
}

.greenButton {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--goo);
    
}

.submitButton {
    align-items: center;
}

.socials {
    padding-top: 20px;
}

.footerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}