.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "hero"
      "tickets" 
      "movieInfo"
      "moviePictures"
      "movieDates"
      "footer";
    max-width: 1600px;
    width: 90%;
    margin: 40px auto 0 auto;
}

.hero {
  grid-area: hero;
}

.tickets {
  grid-area: tickets;
  display: flex;
  justify-content: center;
}

.movieInfo {
  grid-area: movieInfo;
}

.moviePictures {
  grid-area: moviePictures;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "picture1 picture2 picture3 picture4 picture5";
  gap: 10px;
}

.movieDates {
  grid-area: movieDates;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieDates p {
  margin: 0;
  padding: 0;
}
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "newsletter"
  "socials"
  "footerInfo";
}

.newsletter {
  grid-area: newsletter;
}

.socials {
  grid-area: socials;
}

.footerInfo {
  grid-area: footerInfo;
}

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "hero hero"
      "tickets tickets" 
      "movies movies"
      "moviePictures moviePictures"
      "footer footer";
  }

  .footer {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-template-areas: 
    "newsletter footerInfo"
    "socials footerInfo";
    padding-top: 150px;
  }

  .movies {
    grid-area: movies;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "empty movieTickets"
    "movieInfo movieDates";
  }

  .moviesTime {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
 
  .tickets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "redButton redButton";
  }
}

